<%= form_for :session, url: session_path,class:"form-horizontal" do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email', class: 'form-control'%>
    </div>

    <div class="password-field mt-2">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control'%>
    </div>

    <div class="submit-field">
      <%= form.submit "Submit", class: "btn btn-primary btn-block mt-2"%>
    </div>
<% end %>

<script>
var signinactive = document.getElementById("signinactive")
signinactive.classList.add("active");
</script>