<h1>This is index in diabetes</h1>
<div id="diabete-record">
    <% if @history.any? %>
        <% @history.each do |history|%>
            <div>HG1AC :<%= history.hg1ac %></div>
            <div>Fasting Blood Glucose:<%= history.fasting_blood_glucose %></div>
            <div>Meal:<%= history.meal %></div>
            <div>Blood Glucose Level:<%= history.blood_glucose_level %></div>
            <div>Notes :<%= history.notes %></div>
            <div>Medication :<%= history.medication%></div>
            <br/>
        <% end %>
    <% else %>
        <%= content_tag("div","No history of your daily record.")%>
    <% end %>
</div>