<div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>" class="alert alert-<%=key%> d-flex justify-content-center" ><%= value %></div>
      <% end %>
</div>
<div id="diabete-record">

    <% if @history.any? %>
        <% @history.each do |history|%>
            <div class="bg-warning" style="padding: 20px;box-sizing: border-box;border">
                <div><%= "HG1AC : #{history.hg1ac}" if history.hg1ac? %></div>
                <div><%= "Medication : #{history.medication}" if history.medication? %></div>
                <div><%="Fasting Blood Glucose : #{history.fasting_blood_glucose}" if  history.fasting_blood_glucose?%></div>
                <div><%= "Meal: #{history.meal}" if history.meal %></div>
                <div><%= "Blood Glucose Level: #{history.blood_glucose_level}" if history.blood_glucose_level %></div>
                <div><%="Notes : #{history.notes}"  if history.notes? %></div>
                <div>created <%= time_ago_in_words(history.created_at) %> ago by <%= history.hg1ac? ? history.health_record.patient.doctor.user.name : history.health_record.patient.user.name%></div>
                <% if current_user.role != "patient"%>
                    <%= link_to "Edit Record", edit_diabete_path(history),remote:true%>
                <% end %>
            </div>
        <% end %>
    <% else %>
        <%= content_tag("div","No history of your daily record.")%>
    <% end %>
</div>