<% unless !@patient.health_record.diabetes.where(created_at: Date.current.beginning_of_day..Date.current.end_of_day).empty? && current_user.role == "patient"%>
    <%= form_for @diabete,url:diabetes_path(id:@patient),remote:true do |form|%>
        <%if current_user.role == 'doctor' || current_user.role == 'admin'%>
            <div>
                <%= form.label :hg1ac,"HG1AC :"%>
                <%= form.text_field :hg1ac%>
            </div>
            <div>
                <%= form.label :medication,"Medication :"%>
                <%= form.text_field :medication%>
            </div>
        <%end%>

        <div>
            <%= form.label :fasting_blood_glucose,"Fasting blood glucose :"%>
            <%= form.text_field :fasting_blood_glucose%>
        </div>
        <div>
            <%= form.label :meal,"After meal blood glucose :"%>
            <%= form.text_field :meal%>
        </div>
        <div>
            <%= form.label :blood_glucose_level,"Blood glucose level :"%>
            <%= form.text_field :blood_glucose_level%>
        </div>
        <div>    
            <%= form.label :notes,"Notes :"%>
            <%= form.text_field :notes%>
        </div>
            <%= form.submit "Create!"%>
    <% end %>
<%else%>
    <div>
        <%= content_tag "strong", "You have already made a record today!"%>
    </div>
<%end%>

<%= link_to 'History',"#",class:"btn btn-primary",data: { toggle: 'modal', target:"#exampleModalCenter" },onclick:"$(this).parent().fadeOut(500)"%>