<% unless !@patient.health_record.diabetes.where(created_at: Date.current.beginning_of_day..Date.current.end_of_day).empty? && current_user.role == "patient"%>
    <%= form_for @diabete,url:diabetes_path(id:@patient),remote:true do |form|%>
        <%if current_user.role == 'doctor' || current_user.role == 'admin'%>
            <div class="row">
                <div class="col-md-4">
                    <%= form.label :hg1ac,"HG1AC :"%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :hg1ac,class:"form-control"%>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= form.label :medication,"Medication :"%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :medication,class:"form-control"%>
                </div>
            </div>
        <%end%>

        <div class="row">
            <div class="col-md-4">
                    <%= form.label :fasting_blood_glucose,"Fasting blood glucose :"%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :fasting_blood_glucose,class:"form-control"%>
                </div>
            
            
        </div>
        <div class="row">
            <div class="col-md-4">
                    <%= form.label :meal,"After meal blood glucose :"%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :meal,class:"form-control"%>
                </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                    <%= form.label :blood_glucose_level,"Blood glucose level :"%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :blood_glucose_level,class:"form-control"%>
                </div>
        </div>
        <div class="row">    
            <div class="col-md-4">
                    <%= form.label :notes,"Notes :"%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :notes,class:"form-control"%>
                </div>
        </div>


        <div class="col-md-12" style="margin:5px;">
                <%= form.submit "Create!",class:"btn btn-success",style:"margin:5px;width:100%"%>
        
        </div>
            
    <% end %>
<%else%>
    <div>
        <%= content_tag "strong", "You have already made a record today!"%>
    </div>
<%end%>

<div class="col-md-12" style="margin:5px;">
              <%= link_to 'History',"#",class:"btn btn-primary",style:"width:100%",data: { toggle: 'modal', target:"#exampleModalCenter" },onclick:"$(this).parent().fadeOut(500)"%>
</div>
