<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<%= link_to "Add Prize",new_prize_path,class:"btn btn-primary",remote:true%>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
	  <div class="table-responsive">
	  	  <% flash.each do |key,msg|%>
	  	  	<div class="alert alert-<%=key%>"><%= msg%></div>
	  	  <% end %>
		  <% if @prizes.any? %>
			  <table class="table table-striped table-sm">
			    <thead>
			      <tr>
			        <th>Name</th>
			        <th>Description</th>
			        <th>Image</th>
			        <th>Cost</th>
			        <th>Edit</th>
			      </tr>
			    </thead>
			    <tbody>
			      	<% @prizes.each do |r|%>
			    	    <tr>
			    	      <%= content_tag "td",r.name%>
			    	      <%= content_tag "td",r.description%>
			              <td><%= image_tag r.image.url,style:"width:60px"%></td>
			              <td><%= r.cost%></td>
			              <td><%= link_to "Edit Prize",edit_prize_path(r),class:"btn btn-primary",remote:true%></td>

			    	    </tr>
			        <% end %>
			      
			    </tbody>
			  </table>
		  <%else%>
			    <%= content_tag "strong","There isn't any badge."%>
		  <%end%>
	  </div>
	</div>
	<div class="col-md-6" id="field">
	</div>
</div>