<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user,url:users_path(sign_up: params[:sign_up] == 'doctor'? "doctor":"patient") do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
