<!--This is the index page (The dashboard)-->
<% if @my_patients%>
<!--Doctor will see this (their patients etc..)-->
    <% @my_patients.each do |patient|%>
        <%= "Patient : #{patient.id}"%>
        <%= patient.user.name%>
        <%= patient.user.ic%>
    <% end %>
<%end%>

<% if @my_doctor%>
<!--Patient will see this (their doctor etc..)-->
    <div><%= image_tag "default_pic.jpg",class:"profile_image"%></div>
    <div>Name :<%= current_user.name%></div>
    <div>IC : <%= current_user.ic%></div>
    <div><%= link_to "Full Profile",patient_path(current_user)%></div>
    <div>Points of Achievement : <%= current_user.patient.points.present? ? current_user.patient.points : "No points yet."%></div>
<%end%>