<div class="table-responsive">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>IC</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Waist C.</th>
      <th>Medication</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  	<% @obeses.each do |r|%>
	    <tr>
	      <%= content_tag "th",r.health_record.patient.user.name%>
	      <%= content_tag "th",r.health_record.patient.user.ic%>
        <%= content_tag "th",r.weight%>
        <%= content_tag "th",r.height%>
        <%= content_tag "th",r.waist_circumference%>
        <%= content_tag "th",r.medication ? r.medication : "-----"%>
        <%= content_tag "th",truncate(r.notes,length:20)%>
	    </tr>
    <% end %>
  </tbody>
</table>
</div>