 <% if @history.any? %>
        <% @history.each do |history|%>
            <div><%= history.weight %></div>
            <div><%= history.height %></div>
            <div><%= history.waist_circumference %></div>
            <div><%= history.notes %></div>
        <% end %>
    <% else %>
        <%= content_tag("div","No history of your daily record.")%>
<% end %>    