<div id="obese-record">
    <% if @history.any? %>
        <% @history.each do |history|%>
            <div>Weight :<%= history.weight %></div>
            <div>Height :<%= history.height %></div>
            <div>Waist Circumference :<%= history.waist_circumference %></div>
            <div>Notes :<%= history.notes %></div>
            <br/>
        <% end %>
    <% else %>
        <%= content_tag("div","No history of your daily record.")%>
    <% end %>    
</div>
