<div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>" class="alert alert-<%=key%> d-flex justify-content-center" ><%= value %></div>
      <% end %>
</div>
<div id="obese-record">
    <% if @history.any? %>
        <% @history.each do |history|%>
            <div>Weight :<%= history.weight %></div>
            <div>Height :<%= history.height %></div>
            <div>Waist Circumference :<%= history.waist_circumference %></div>
            <div>Notes :<%= history.notes %></div>
            <div>created <%= time_ago_in_words(history.created_at)%> ago</div>
            <br/>
        <% end %>
    <% else %>
        <%= content_tag("div","No history of your daily record.")%>
    <% end %>    
</div>
