<%= form_for @obese,url:obeses_path(id:@patient),remote:true do |form|%>
<div>
    <%= form.label :weight,"Weight :"%>
    <%= form.text_field :weight%>
</div>
<div>
    <%= form.label :height,"Height :"%>
    <%= form.text_field :height%>
</div>
<div>
    <%= form.label :waist_circumference,"Waist Circumference :"%>
    <%= form.text_field :waist_circumference%>
</div>
<div>    
    <%= form.label :notes,"Notes :"%>
    <%= form.text_field :notes%>
</div>
    <%= form.submit "Create!"%>
<% end %>

<%= link_to "press to go history", obeses_path(id:@patient),remote:true%>