<div class="row" style="padding-top:50px">
    <div class="col-md-8 offset-md-2">
        <% if @user%>
            <div align="center">
                <%= image_tag @user.avatar.url,style:"width:100px"%>
            </div>
            <h1 class="text-center">Personal Profile</h1>
            <%= form_for @user,url:patient_path(update:"user"),method: :put,html:{class:"form-horizontal",role:"form"} do |form|%>
              <div class="row">
                <div class="col-md-2">
                    <%= form.label :name%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :name,class:"form-control"%>
                </div>
            </div>
              <div class="row">
                <div class="col-md-2">
                    <%= form.label :ic%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :ic,class:"form-control"%>
                </div>
            </div>
              <div class="row">
                <div class="col-md-2">
                    <%= form.label :age%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :age,class:"form-control"%>
                </div>
            </div>
              <div class="row">
                <div class="col-md-2">
                    <%= form.label :gender%>
                </div>
                <div class="col-md-8">
                     <%= form.text_field :gender,class:"form-control"%>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <%= form.label :phone%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :phone,class:"form-control"%>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-2">
                    <%=form.label :avatar, @user.avatar? ? "Edit photo" : "Upload photo"%>
                </div>
                <div class="col-md-8">
                    <%=form.file_field :avatar%>
                </div>
            </div>
            <div class="col-md-10 offset-md-2 form-group" style="padding-top: 10px">
                <%= form.submit "Update",class:"btn btn-warning" %>
            </div>
                
            <% end %>
        <% end %>

        <% if @patient %>
        <h1 class="text-center">Health Profile</h1>
         <%= form_for @patient,url:patient_path(update:"patient"),method: :put do |form|%>
            <div class="row">
                <div class="col-md-2">
                    <%= form.label :height%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :height,class:"form-control"%>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <%= form.label :weight%>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :weight,class:"form-control"%>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <%= form.label "Blood Type" %>
                </div>
                <div class="col-md-8">
                    <%= form.text_field :blood_type,class:"form-control" %>
                </div>
            </div>
            <div class="col-md-10 offset-md-2" style="padding-top: 10px">
                <%= form.submit "Update",class:"btn btn-warning" %>
            </div>
         <% end %> 
        <% end %>
    </div>
</div>


