<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chronos</title>
  </head>

  <body>
    <main role="main">
    <div class="container">
      <section class="jumbotron text-center bg-light">
        <div class="container">
            <div><%= image_tag @user.avatar.url,class:"profile_image border border-light",style:"width:200px"%></div>
            <% if @user.id == current_user.id %> 
                <h1 class="jumbotron-heading"><%=  "- My Profile - "%></h1>
            <%else%>
                <h1 class="jumbotron-heading"><%="This is the profile of your patient, #{@patient.user.name}!"%></h1>
            <%end%>
          <h6 class="lead text-info my-0">Name : <%= @user.name%></h6>
          <p class="lead text-muted my-0">Points of Achievement : <%= content_tag "span",@user.patient.points.present? ?   @user.patient.points : "No points yet.",id:"points"%>
            <%= image_tag @badge.image.url, style:"height:10vh"%>
          </p>
          <p>
            <%= link_to "My Profile",edit_patient_path(form:"user"),class:"btn btn-primary my-2"%>
            <%= link_to "My Health Profile",edit_patient_path(form:"patient"),class:"btn btn-secondary my-2"%>
          </p>
        </div>
      </section>
      <div class="row" align="center" style="padding-bottom: 50px">
          <div class="col-md-12" onclick="$(this).siblings().find('.show').hide();$(this).find('.show').show()">
            <div class="card text-white bg-warning mb-3" style="max-width: 30rem;" >
              <div class="card-header"><h2><%= link_to "Obesity",new_obese_path(id:@patient.id),remote:true%></h2>
                <div><small>Start making a record today!</small></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p id="record-input-obeses" class="show">
                </p>
              </div>
            </div>
          </div>
        <div class="col-md-6" onclick="$(this).siblings().find('.show').hide();$(this).find('.show').show()">
          <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
                <div class="card-header"><h2><%= link_to "Diabetes",new_diabete_path(id:@patient.id),remote:true%></h2>
                  <div><small>Start making a record today!</small></div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p id="record-input-diabetes" class="show"></p>
              </div>
          </div>
        </div>
        <div class="col-md-6" onclick="$(this).siblings().find('.show').hide();$(this).find('.show').show()">
          <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
              <div class="card-header"><h2><%= link_to "Hypertension",new_hypertension_path(id:@patient.id),remote:true%></h2>
              <div><small>Start making a record today!</small></div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
              <p id="record-input-hypertensions" class="show"></p>
              </div>
            </div>
        </div>
      </div>
      </div>
      </div>
    </main>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="record-input" style="overflow: auto;">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).click(function(e){
    if(!$(e.target).hasClass("card-header")){
      $(document).find('.show').hide()
    }
   })
</script>