
    <main role="main">
      <div class="container">
        <section class="jumbotron text-center bg-light" id="background" >
              <div><%= image_tag @user.avatar.url,class:"profile_image border border-light",style:"width:200px"%></div>
              <% if @user.id == current_user.id %> 
                  <h1 class="jumbotron-heading" style="font-family: 'Montserrat'"><%=  "- My Profile - "%></h1>
              <%else%>
                  <h1 class="jumbotron-heading"><%="This is the profile of your patient, #{@patient.user.name}!"%></h1>
              <%end%>
            <h6 class="lead text-info my-0 badge badge-warning" style="font-size:20px">Name : <%= @user.name%></h6>
            <p class="lead text-muted my-0 badge badge-warning" style="font-size:20px">Points of Achievement : <%= content_tag "span",@user.patient.points.present? ?   @user.patient.points : "No points yet.",id:"points"%>
              
            </p>
            <p>
              <%= link_to "My Profile",edit_patient_path(form:"user"),class:"btn btn-secondary my-2"%>
              <%= link_to "My Health Profile",edit_patient_path(form:"patient"),class:"btn btn-secondary my-2"%>
              <%= link_to "Claim my Prize",prizes_path,class:"btn btn-secondary my-2"%>
            </p>
          </div>
        </section>

        
        <div class="row" align="center" style="padding-bottom:100px">
            <div class="col-md-12" onclick="$(this).siblings().find('.show').fadeOut(1000);$(this).find('.show').show()">
              <div class="card text-white bg-dark mb-3" style="max-width: 30rem;cursor:pointer" >
                <div class="card-header"><h2><%= link_to "Body Weight",new_obese_path(id:@patient.id),remote:true%></h2>
                  <div><small>Start making a record today!</small></div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                  <p id="record-input-obeses" class="show"></p>
                </div>
              </div>
            </div>
          <div class="col-md-6" onclick="$(this).siblings().find('.show').fadeOut(1000);$(this).find('.show').show()">
            <div class="card text-white bg-dark mb-3" style="max-width: 30rem;cursor:pointer">
                  <div class="card-header"><h2><%= link_to "Blood Glucose Level",new_diabete_path(id:@patient.id),remote:true%></h2>
                    <div><small>Start making a record today!</small></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                  <p id="record-input-diabetes" class="show"></p>
                </div>
            </div>
          </div>
          <div class="col-md-6" onclick="$(this).siblings().find('.show').fadeOut(1000);$(this).find('.show').show()">
            <div class="card text-white bg-dark mb-3" style="max-width: 30rem;cursor:pointer">
                <div class="card-header"><h2><%= link_to "Blood Pressure",new_hypertension_path(id:@patient.id),remote:true%></h2>
                <div><small>Start making a record today!</small></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p id="record-input-hypertensions" class="show"></p>
                </div>
              </div>
          </div>
        </div>
        </div>
      
    </main>
      <div id="record-input" style="display:none"></div>
    



    
