
<div id="hypertension-record" class="container" style="padding-bottom:100px">
    <h3>Hypertension's record :</h3>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>" class="alert alert-<%=key%> d-flex justify-content-center" ><%= value %></div>
      <% end %>
    </div>
    <% if @history.any? %>
        <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>SBP</th>
                        <th>DBP</th>
                        <th>Notes</th>
                        <th>Medication</th>
                        <th>Time Created</th>
                        <th>Points Gained</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% @history.each do |history|%>
                                <td>SBP :<%= history.SBP %></td>
                                <td>DBP :<%= history.DBP %></td>
                                <td>Notes :<%= history.notes %></td>
                                <td>Medication :<%= history.medication %></td>
                                <td><%= time_ago_in_words(history.created_at)%> ago</td>
                                 <td><span class="badge badge-warning">+30</td>
                            <% end %>
                        </tr>
                    </tbody>
                  </table>
        
    <% else %>
        <%= content_tag("div","No history of your daily record.")%>
    <% end %>
</div>